.chat-block {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width:200px;
}

.col-md-9 {
    padding-left: 0px;
}

.messages-history-container {

    min-width: 200px;
}
.messages-history {
    height:85%;
    position: relative;
    color: white;
}
.messages-container {
    position: fixed;
    top : 56px;
    height:85%;
    overflow-y: auto;

    
}

.messages-container::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  .messages-container::-webkit-scrollbar-track {
    background-color: whitesmoke;
  }
  
  .messages-container::-webkit-scrollbar-thumb {
    background-color: #3b3939;
  }

.message-input-container {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 15%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    padding: 1px;
    margin: 0;
}
.message-input {
    position: fixed;
    bottom: 3%;
    left:29%;
    width: 70%;
    max-height: 400px;
    align-self: center;
    display: flex;
    flex-direction: row;

}

.message-input textarea {
    overflow : auto;
    height: 80%;
    resize:none;
    outline: none;
}

.message-input textarea:focus {
  
    outline: none;
}

textarea::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  textarea::-webkit-scrollbar-track {
    background-color: whitesmoke;
  }
  
  textarea::-webkit-scrollbar-thumb {
    background-color: #3b3939;
  }

.btn-chat-send {
    margin:5px;
    padding:5px;
    background-color: transparent;
    border: 1px solid silver;
    height: 50%;
}

.btn-chat-send:focus {
    outline: none;
}

.chat-item {

    display:flex;
    flex-direction: column;
    
    list-style-type: none;
    list-style: none;
    margin: 10px;
    padding: 0;

}
  
.prev-chat-items {

    display:flex;
    flex-direction: column;
    
    list-style-type: none;
    list-style: none;
    margin: 10px;
    padding: 0;
    height: 80%;
    overflow-y: auto;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.chat-item li{
    display:flex;
    border: 2px;
}

.chat-item-right{

    width:fit-content;
    align-self: flex-end;
    max-width: 70%;
    flex-direction: row-reverse;
}

.chat-item-left{
    max-width: 70%;
    align-self: flex-start;
    flex-direction: row;
}

.chat-item-message-user {
    background-color: rgba(28, 197, 197, 0.836);
    color: white;
    text-align: left;
    border-radius: 10px;
    padding:10px;


}

.chat-item-message-bot {
    background-color: rgba(218, 174, 33, 0.925);
    text-align: left;
    border-radius: 10px;
    padding:10px;


}

.chat-message {
    padding: 5px;
    margin: 10px;
}

.icon {
    height: 30px;
    width: 30px;
    padding: 5px;
}

.last-item {

    margin-bottom:100px;


}


.chat-settings {
    border-radius: 0px;
    margin: 0;
}
  

  
.accordion-header button {
    color: white;
    font-size: medium;
    text-align: left;
}
  
.accordion-body {
    padding: 0;
}

.accordion-button {
    width:100%;
    background-color:  rgb(55, 160, 87);
    border-color: transparent;
    height: 40px;
}


.message-item-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
}


.message-item-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
}

.chat-status {

    position: fixed;
    bottom: 15px;
    left: 50%;
}


.setting-border {

    border: 1px solid silver;
    margin: 3px;
    padding: 5px;
    font-size: small;
}

.btn-newchat {

    border: 1px solid transparent;
    background-color: rgb(55, 160, 87);
    width: 100%;
    height: 40px;
    color: white;
    padding: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
}


